server:
  port: 8083

spring:
  application:
    name: lesson-service
  
  datasource:
    url: jdbc:postgresql://localhost:5432/membership_db
    username: membership_user
    password: membership_pass
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

