server:
  port: 8083

spring:
  application:
    name: lesson-service
  
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://postgres:5432/membership_db}
    username: ${SPRING_DATASOURCE_USERNAME:membership_user}
    password: ${SPRING_DATASOURCE_PASSWORD:membership_pass}
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false

eureka:
  instance:
    hostname: lesson-service
    prefer-ip-address: false
  client:
    service-url:
      defaultZone: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE:http://eureka-server:8761/eureka/}

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always

